<div class="container">
  <div class="row">
    <div class="col-centered">
      <!--The content below is only a placeholder and can be replaced.-->
      <div style="text-align:center">
        <h1 class="titleBlog">
          {{title}}
        </h1>
      </div>
      <mat-tab-group (selectedTabChange)="TabClicked($event)">
        <mat-tab label="Photo">
          <div class="innerDiv">
            <img class="imgWidth" src="assets/meBio.png">
          </div>
        </mat-tab>
        <mat-tab label="Blog Entries">
          <div class="innerDiv">
            <ol class="olNumbered">
              <div class='row' *ngFor="let blogPost of blogPosts">
                <li>
                  <div class='col'>
                    <a class="listItemTitle" href="{{blogPost.url}}">{{blogPost.title}}</a>
                  </div>
                  <div class='col'>
                    <article class="listItem">
                      <!--<span innerHTML="{{blogPost.content}}"></span>-->
                      <span>{{RemoveHTMLInfo(blogPost.content)}}</span>
                      <span>.....</span>
                      <br/>
                      <br/> By
                      <a class="listItemBy" href="http://david-james-capon.blogspot.co.uk" rel="author">David Capon</a>
                    </article>
                  </div>
                </li>
              </div>
            </ol>
            <span class="listItemBy">Using styling Similar to:
              <a href="https://codepen.io/secondfret/pen/oexuc">https://codepen.io/secondfret/pen/oexuc</a>
            </span>
          </div>
        </mat-tab>
        <mat-tab label="CV">
          <div class="innerDiv">
            <div id="linkedInBadge" class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
              data-theme="light" data-vanity="david-capon-b905187">
              <a class="LI-simple-link" href='https://uk.linkedin.com/in/david-capon-b905187?trk=profile-badge'>david capon</a>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>